createandeditFlow.txt
[{"id":"5195e2928ae00bae","type":"tab","label":"create edit","disabled":false,"info":"","env":[]},{"id":"f7878761005e952c","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"itemdetail","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":160,"wires":[["7e991d5dc2027244"]]},{"id":"73d0e05d42a3a524","type":"http request","z":"5195e2928ae00bae","name":"GET Supplier List","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":410,"y":240,"wires":[["7122e69f3bacb5e8"]]},{"id":"7b2b165924aed1f0","type":"mqtt out","z":"5195e2928ae00bae","name":"","topic":"return","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":930,"y":160,"wires":[]},{"id":"ff59b2056d6ccfda","type":"tableify","z":"5195e2928ae00bae","name":"","before":"","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":720,"y":240,"wires":[["7b2b165924aed1f0"]]},{"id":"7e991d5dc2027244","type":"function","z":"5195e2928ae00bae","name":"Fetch Item List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\nmsg.fetched = \n[\"naming_series\"];\nmsg.url = \"http://localhost:8000/api/resource/Stock Entry Detail/\" + msg.payload +\"-\"+ flow.get(\"openoption\");\nreturn msg;\n\n\n//E2 00 00 1D 33 18 01 25 07 50 61 D2-MAT-STE-2022-00142","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":200,"wires":[["73d0e05d42a3a524"]]},{"id":"7122e69f3bacb5e8","type":"function","z":"5195e2928ae00bae","name":"data","func":"msg.payload  = msg.payload.data;\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":160,"wires":[["fbed06501c549145"]]},{"id":"b7431f323f293756","type":"comment","z":"5195e2928ae00bae","name":"SHOW ITEM DETAIL","info":"\n","x":460,"y":120,"wires":[]},{"id":"fbed06501c549145","type":"function","z":"5195e2928ae00bae","name":"data detail","func":"msg.modfifeid = {\n    \"item_code\": msg.payload.item_code,\n    \"color\":msg.payload.color,\n    \"size\":msg.payload.size\n    \n}\n\nmsg.payload = msg.modfifeid;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":200,"wires":[["ff59b2056d6ccfda","f678a02e2cd5323d"]]},{"id":"f678a02e2cd5323d","type":"debug","z":"5195e2928ae00bae","name":"all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":200,"wires":[]},{"id":"9a5ae39f69857e2e","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"itemlu","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":390,"y":400,"wires":[["2077e1c86c14c322"]]},{"id":"2077e1c86c14c322","type":"function","z":"5195e2928ae00bae","name":"Fetch Item List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Item?limit_page_length=(1000)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":400,"wires":[["89dd96dcbe15c77b"]]},{"id":"89dd96dcbe15c77b","type":"http request","z":"5195e2928ae00bae","name":"GET Item List","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":560,"y":440,"wires":[["73e5a6cf92fafa7c"]]},{"id":"1fbb2499a1e5190d","type":"mqtt out","z":"5195e2928ae00bae","name":"","topic":"return","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":1150,"y":400,"wires":[]},{"id":"312562c4f7d66242","type":"comment","z":"5195e2928ae00bae","name":"GET ITEM LIST","info":"\n","x":640,"y":360,"wires":[]},{"id":"9939c978f26f36ce","type":"inject","z":"5195e2928ae00bae","name":"1-100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]","payloadType":"str","x":390,"y":320,"wires":[["2077e1c86c14c322"]]},{"id":"2b8248a7b1cb9123","type":"function","z":"5195e2928ae00bae","name":"++i","func":"if ( (msg.i += 1) < msg.items1.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":480,"wires":[["cd3a25fca61f622d"]]},{"id":"cd3a25fca61f622d","type":"function","z":"5195e2928ae00bae","name":"for each item","func":"if( msg.i == undefined ) msg.i = 0;\n\nif ( msg.items1 == undefined ) msg.items1 = msg.payload.data;\n\n\n\n\n//if(msg.payload.data.items.length == 0 ) msg.payload.data.items = [\"no items here\"];\n\n\nmsg.payload = msg.items1[ msg.i ].name;\nmsg.list[msg.i] = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":440,"wires":[["2b8248a7b1cb9123","63320f9c2132fb8b"]]},{"id":"73e5a6cf92fafa7c","type":"function","z":"5195e2928ae00bae","name":"","func":"msg.list = [];\nif (msg.payload.data.length == 0) {msg.items1 = [\"no items\"]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":400,"wires":[["cd3a25fca61f622d"]]},{"id":"63320f9c2132fb8b","type":"function","z":"5195e2928ae00bae","name":"","func":"if ( msg.i == msg.items1.length - 1 ) \n\n\n{\n msg.payload = msg.list;   \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":400,"wires":[["1fbb2499a1e5190d","ac12be3461faeefe"]]},{"id":"96a42b3849c24dc4","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"deletestock","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1130,"y":180,"wires":[["85b2735f0e798c1c"]]},{"id":"bbb31bc15d7e8594","type":"comment","z":"5195e2928ae00bae","name":"DEELTE STOCK","info":"\n","x":1180,"y":140,"wires":[]},{"id":"33091091aee4d933","type":"function","z":"5195e2928ae00bae","name":"clear payload","func":"msg.payload = undefined;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":260,"wires":[["73406c42db7f262d"]]},{"id":"73406c42db7f262d","type":"http request","z":"5195e2928ae00bae","name":"DELETE Data","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1140,"y":300,"wires":[["926eede706f9a189"]]},{"id":"926eede706f9a189","type":"debug","z":"5195e2928ae00bae","name":"all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":300,"wires":[]},{"id":"85b2735f0e798c1c","type":"function","z":"5195e2928ae00bae","name":"Msg properties","func":"msg.method = \"DELETE\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry/\" + msg.payload\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":220,"wires":[["33091091aee4d933"]]},{"id":"a6a380828a3dd621","type":"join","z":"5195e2928ae00bae","name":"","mode":"custom","build":"object","property":"details","propertyType":"msg","key":"key","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":580,"wires":[["190bd2e99e5b6cbe"]]},{"id":"5d52c13483427fdc","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"item_create","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":470,"y":620,"wires":[["808eee663cb9eee2"]]},{"id":"c9100aa94e6212ef","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"new_item_detail","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":480,"y":520,"wires":[["0d4bdc52d0569f57"]]},{"id":"9b4a5660a25e0192","type":"function","z":"5195e2928ae00bae","name":"Edit Entry Data","func":"\nmsg.details =\n    {\n        \"color\": msg.payload[ 0 ],\n        \"size\": msg.payload[ 1 ]\n    }\n    \n    msg.key = \"property\";\n    \n    return msg\n    \n    //    \"item_code\": msg.payload[ 0 ].item_code,\n      //  \"qty\": msg.items1[ msg.i ].qty","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":560,"wires":[["a6a380828a3dd621"]]},{"id":"0d4bdc52d0569f57","type":"function","z":"5195e2928ae00bae","name":"array maker","func":"var tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":560,"wires":[["9b4a5660a25e0192"]]},{"id":"808eee663cb9eee2","type":"function","z":"5195e2928ae00bae","name":"array maker","func":"var tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":660,"wires":[["ef0aea72d33b939b"]]},{"id":"ef0aea72d33b939b","type":"function","z":"5195e2928ae00bae","name":"Edit Entry Data","func":"\nmsg.details =\n    {\n        \"item\": msg.payload,\n\n    }\n    \n    msg.key = \"item\";\n    return msg\n    \n    //    \"item_code\": msg.payload[ 0 ].item_code,\n      //  \"qty\": msg.items1[ msg.i ].qty","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":660,"wires":[["a6a380828a3dd621"]]},{"id":"af84fc1f03668e31","type":"function","z":"5195e2928ae00bae","name":"Edit Data","func":"msg.method = \"POST\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Item\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":620,"wires":[["63956908e6f7c659"]]},{"id":"5b77ec43073664f1","type":"function","z":"5195e2928ae00bae","name":"++","func":"if ( (msg.j += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":620,"wires":[["190bd2e99e5b6cbe"]]},{"id":"190bd2e99e5b6cbe","type":"function","z":"5195e2928ae00bae","name":"for each item","func":"if( msg.j == undefined ) msg.j = 0;\nif( msg.items == undefined ) msg.items = msg.details.item.item;\n\nmsg.payload = msg.items[ msg.j ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":580,"wires":[["5b77ec43073664f1","43a73e690f9a5b8e"]]},{"id":"63956908e6f7c659","type":"http request","z":"5195e2928ae00bae","name":"POST Production Data","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1200,"y":660,"wires":[["728c616a814429a1"]]},{"id":"43a73e690f9a5b8e","type":"function","z":"5195e2928ae00bae","name":"Edit Data","func":"msg.payload = \n{\n \"data\": {\n \"item_code\": msg.payload,\n \"item_name\": \"Tags\",\n \"item_group\": \"Products\",\n \"stock_uom\": \"Unit\",\n \"opening_stock\": 0.0,\n \"valuation_rate\" : 1.0,\n  \"color_color\":msg.details.property.color,\n  \"size_size\": msg.details.property.size\n }\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":580,"wires":[["af84fc1f03668e31"]]},{"id":"6906cf46e9837609","type":"function","z":"5195e2928ae00bae","name":"Msg properties","func":"msg.method = \"PUT\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Item/\" + msg.notpayload;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":880,"wires":[["c585b654956e17ea"]]},{"id":"c585b654956e17ea","type":"http request","z":"5195e2928ae00bae","name":"PUT Data","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1220,"y":920,"wires":[["72a149c42fb8cbd3"]]},{"id":"41a4fafc161ded84","type":"function","z":"5195e2928ae00bae","name":"Edit Item Data","func":"msg.payload = \n{\n\n  \"color_color\":msg.details.property.color,\n  \"size_size\": msg.details.property.size\n\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":840,"wires":[["6906cf46e9837609"]]},{"id":"3d13d63d217ee631","type":"join","z":"5195e2928ae00bae","name":"","mode":"custom","build":"object","property":"details","propertyType":"msg","key":"key","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":830,"y":860,"wires":[["4e0e2b9c8a0106fd"]]},{"id":"88860a645641e201","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"item_edit","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":460,"y":860,"wires":[["6ecd73977283cc20"]]},{"id":"deaf940ae85ed216","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"item_detail","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":760,"wires":[["8e27e0744086b558"]]},{"id":"5ca5a592226c9a29","type":"function","z":"5195e2928ae00bae","name":"Edit Entry Data","func":"\nmsg.details =\n    {\n        \"color\": msg.payload[ 0 ],\n        \"size\": msg.payload[ 1 ]\n    }\n    \n    msg.key = \"property\";\n    \n    return msg\n    \n    //    \"item_code\": msg.payload[ 0 ].item_code,\n      //  \"qty\": msg.items1[ msg.i ].qty","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":800,"wires":[["3d13d63d217ee631"]]},{"id":"8e27e0744086b558","type":"function","z":"5195e2928ae00bae","name":"array maker","func":"var tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":800,"wires":[["5ca5a592226c9a29"]]},{"id":"6ecd73977283cc20","type":"function","z":"5195e2928ae00bae","name":"array maker","func":"var tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":900,"wires":[["380f58f2afdf3ccc"]]},{"id":"380f58f2afdf3ccc","type":"function","z":"5195e2928ae00bae","name":"Edit Entry Data","func":"\nmsg.details =\n    {\n        \"item\": msg.payload,\n\n    }\n    \n    msg.key = \"item\";\n    return msg\n    \n    //    \"item_code\": msg.payload[ 0 ].item_code,\n      //  \"qty\": msg.items1[ msg.i ].qty","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":900,"wires":[["3d13d63d217ee631"]]},{"id":"23f8798fa20288f9","type":"function","z":"5195e2928ae00bae","name":"++","func":"if ( (msg.j += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":900,"wires":[["4e0e2b9c8a0106fd"]]},{"id":"4e0e2b9c8a0106fd","type":"function","z":"5195e2928ae00bae","name":"for each item","func":"if( msg.j == undefined ) msg.j = 0;\nif( msg.items == undefined ) msg.items = msg.details.item.item;\n\nmsg.notpayload = msg.items[ msg.j ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":860,"wires":[["23f8798fa20288f9","41a4fafc161ded84"]]},{"id":"728c616a814429a1","type":"debug","z":"5195e2928ae00bae","name":"Print All Details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1460,"y":660,"wires":[]},{"id":"72a149c42fb8cbd3","type":"debug","z":"5195e2928ae00bae","name":"Print All Details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1460,"y":920,"wires":[]},{"id":"28bfef4a3b219558","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"item","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1970,"y":420,"wires":[["5b628bb8c7b0afd1"]]},{"id":"5b628bb8c7b0afd1","type":"function","z":"5195e2928ae00bae","name":"array maker","func":"var tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":460,"wires":[["adc1ea6dcc2b4671"]]},{"id":"720ac48f6b701de2","type":"function","z":"5195e2928ae00bae","name":"Edit Data","func":"msg.method = \"POST\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Item\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":460,"wires":[["519dcadfacaa6661"]]},{"id":"cfebf586cac5293f","type":"function","z":"5195e2928ae00bae","name":"++","func":"if ( (msg.j += 1) < msg.items.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2330,"y":460,"wires":[["a7e15781e52350a8"]]},{"id":"a7e15781e52350a8","type":"function","z":"5195e2928ae00bae","name":"for each item","func":"if( msg.j == undefined ) msg.j = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nmsg.payload = msg.items[ msg.j ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2350,"y":420,"wires":[["cfebf586cac5293f","168b1e13375d8f20"]]},{"id":"519dcadfacaa6661","type":"http request","z":"5195e2928ae00bae","name":"POST Production Data","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":2520,"y":500,"wires":[["b095774cf24eae9d"]]},{"id":"168b1e13375d8f20","type":"function","z":"5195e2928ae00bae","name":"Edit Data","func":"msg.payload = \n{\n \"data\": {\n \"item_code\": msg.payload,\n \"item_name\": msg.itemname,\n \"item_group\": \"Products\",\n \"stock_uom\": \"Unit\",\n \"opening_stock\": 0.0,\n \"valuation_rate\" : 1.0,\n \"size_size\":\"big\",\n \"color_color\":\"bright\",\n \"description\":msg.itemname\n }\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2520,"y":420,"wires":[["720ac48f6b701de2"]]},{"id":"5dff87b79c2cebfb","type":"comment","z":"5195e2928ae00bae","name":"NEW ITEMS","info":"In the process also create stocks (IF YOU WANT)","x":1990,"y":380,"wires":[]},{"id":"5d1a11b1f0f9432f","type":"http request","z":"5195e2928ae00bae","name":"DATA","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":2150,"y":260,"wires":[["86b8a6f298a7cc07"]]},{"id":"8b103165112fd1b2","type":"comment","z":"5195e2928ae00bae","name":"CREATE NEW STOCK","info":"","x":2180,"y":140,"wires":[]},{"id":"d69b913673d6e9e9","type":"function","z":"5195e2928ae00bae","name":"Edit Entry Data","func":"msg.payload = \n{\n \"stock_entry_type\": \"Material Receipt\",\n\n \"items\": msg.stocklist,\n\n};\n\nreturn msg;\n\n// replace all this controlled datas\n\nmsg.payload = \n{\n \"data\": {\n \"naming_series\": \"MAT-STE-.YYYY.\",\n \"stock_entry_type\": \"Material Receipt\",\n \"purpose\": \"Material Receipt\",\n \"company\": \"Selangor Human Resource Development Centre\",\n \"from_warehouse\": \"Finished Goods - SHRDC\",\n \"to_warehouse\": \"Stores - SHRDC\",\n \"doctype\": \"Stock Entry\",\n \"items\": msg.stocklist,\n }\n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2180,"y":180,"wires":[["3d8af98abf3d0585"]]},{"id":"3d8af98abf3d0585","type":"function","z":"5195e2928ae00bae","name":"POST ","func":"msg.method = \"POST\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2150,"y":220,"wires":[["5d1a11b1f0f9432f"]]},{"id":"e396dd371ee45ca6","type":"mqtt in","z":"5195e2928ae00bae","name":"","topic":"newstock","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":2000,"y":180,"wires":[["d69b913673d6e9e9"]]},{"id":"86b8a6f298a7cc07","type":"debug","z":"5195e2928ae00bae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2330,"y":260,"wires":[]},{"id":"340f155f6f4606c2","type":"inject","z":"5195e2928ae00bae","name":"1-100","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]","payloadType":"str","x":2010,"y":220,"wires":[["d69b913673d6e9e9"]]},{"id":"adc1ea6dcc2b4671","type":"function","z":"5195e2928ae00bae","name":"initilaiser","func":"\n\nmsg.missed = [];\nmsg.saved = [];\nmsg.savethis = [];\nmsg.arr = [];\nmsg.i = 0;\nmsg.h = 0;\nmsg.n = 0;\nmsg.ok = {message:\"ok\"};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2140,"y":420,"wires":[["03dc047d9e39e345"]]},{"id":"03dc047d9e39e345","type":"change","z":"5195e2928ae00bae","name":"arr,h","rules":[{"t":"move","p":"arr","pt":"msg","to":"arr","tot":"flow"},{"t":"move","p":"h","pt":"msg","to":"h","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":460,"wires":[["a7e15781e52350a8"]]},{"id":"b095774cf24eae9d","type":"debug","z":"5195e2928ae00bae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2790,"y":500,"wires":[]},{"id":"cdadca3a471b12c8","type":"inject","z":"5195e2928ae00bae","name":"item","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1]","payloadType":"str","x":1770,"y":420,"wires":[["25b3a0413f2ba91a"]]},{"id":"25b3a0413f2ba91a","type":"function","z":"5195e2928ae00bae","name":"item name","func":"msg.itemname = \"Nike\"\n//change this\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":460,"wires":[["5b628bb8c7b0afd1"]]},{"id":"ac12be3461faeefe","type":"debug","z":"5195e2928ae00bae","name":"all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":440,"wires":[]},{"id":"7c9ce44c409da6e8","type":"comment","z":"5195e2928ae00bae","name":"Create new Item with DATA","info":"\n","x":940,"y":540,"wires":[]},{"id":"c7898d5937d0428e","type":"comment","z":"5195e2928ae00bae","name":"EDIT item with DATA","info":"\n","x":870,"y":820,"wires":[]},{"id":"632bce69c9603f76","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]