MainFlow.txt
[{"id":"7b4c1e23d99890c8","type":"tab","label":"App Flows","disabled":false,"info":""},{"id":"98ff463a8a2d7ed6","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"button","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":350,"y":280,"wires":[["2bbb5bb20b083d65"]]},{"id":"355cfa48114589cc","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"return","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":830,"y":360,"wires":[]},{"id":"2bbb5bb20b083d65","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Stock List with API Access","func":"msg.method = \"GET\";\nmsg.openlist = [];\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock Entry?limit_page_length=(1000)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":320,"wires":[["289236626e56b784"]]},{"id":"289236626e56b784","type":"http request","z":"7b4c1e23d99890c8","name":"GET Stock List","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":320,"y":360,"wires":[["c11c544f9268d811"]]},{"id":"70a3f14e92bb31d5","type":"function","z":"7b4c1e23d99890c8","name":"for each item","func":"//var tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\n//msg.payload = tags.split(\", \");\n\nmsg.mlength = msg.payload.data.length;\nmsg.indentry = msg.payload.data;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":320,"wires":[["e3519dd4b3528db1"]]},{"id":"e3519dd4b3528db1","type":"function","z":"7b4c1e23d99890c8","name":"for each item","func":"if( msg.i == undefined ) msg.i = 0;\nif( msg.items1 == undefined ) msg.items1 = msg.indentry;\n\nmsg.indentry = msg.items1[msg.i].name;\nmsg.openlist[msg.i] = msg.indentry;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":360,"wires":[["881e2d6798a6ab0b","c71f66302dacd3c7"]]},{"id":"881e2d6798a6ab0b","type":"function","z":"7b4c1e23d99890c8","name":"++","func":"if ( (msg.i += 1) < msg.mlength ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":360,"wires":[["70a3f14e92bb31d5"]]},{"id":"c71f66302dacd3c7","type":"function","z":"7b4c1e23d99890c8","name":"Consolidating list","func":"if ( msg.i == msg.items1.length - 1 ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":280,"wires":[["275747d3b0daecbc"]]},{"id":"275747d3b0daecbc","type":"change","z":"7b4c1e23d99890c8","name":"","rules":[{"t":"move","p":"openlist","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":320,"wires":[["355cfa48114589cc"]]},{"id":"a842a2feb2316faf","type":"comment","z":"7b4c1e23d99890c8","name":"GET STOCK LIST","info":"","x":530,"y":240,"wires":[]},{"id":"c11c544f9268d811","type":"function","z":"7b4c1e23d99890c8","name":"if empty","func":"if (msg.payload.data.length != 0) {\nreturn msg;}\nif (msg.payload.data.length == 0) {\n    msg.payload.data = \n    [\n       { name:\"CREATE STOCK\" }\n    ];\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["70a3f14e92bb31d5"]]},{"id":"717ea73a2b3659e7","type":"inject","z":"7b4c1e23d99890c8","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","x":230,"y":100,"wires":[["0bbd4d6082184c1e"]]},{"id":"0bbd4d6082184c1e","type":"change","z":"7b4c1e23d99890c8","name":"set ERPNEXT token","rules":[{"t":"set","p":"erpnext_api_key","pt":"global","to":"960077fc8268d93","tot":"str"},{"t":"set","p":"erpnext_api_secret","pt":"global","to":"3ee739b070eb97f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[[]]},{"id":"560b2f1c62485402","type":"comment","z":"7b4c1e23d99890c8","name":"SET GLOBAL VARIABLE","info":"","x":367,"y":62,"wires":[]},{"id":"3d2fff22f6f97c27","type":"comment","z":"7b4c1e23d99890c8","name":"consolidate list means return list","info":"","x":830,"y":240,"wires":[]},{"id":"2eba90029452e071","type":"comment","z":"7b4c1e23d99890c8","name":"TO BE IMPLEMENTED: CHECK OUT RECORD","info":"","x":2320,"y":1160,"wires":[]},{"id":"dbdbd98ffa8061e8","type":"comment","z":"7b4c1e23d99890c8","name":"TO BE IMPROVED RENAME ALL FLOW data","info":"suggestion add flow to start or add ","x":2310,"y":1200,"wires":[]},{"id":"4b13c0cfbcf2c257","type":"debug","z":"7b4c1e23d99890c8","name":"Print Error Details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":120,"wires":[]},{"id":"7345f41a1a0f8992","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"return","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":1270,"y":80,"wires":[]},{"id":"fc2eee5bfb2ab894","type":"switch","z":"7b4c1e23d99890c8","name":"if error","property":"error","propertyType":"msg","rules":[{"t":"cont","v":"Cannot read properties of undefined (reading 'item_code')","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":80,"wires":[["66f8115e09b13eda"],["4b13c0cfbcf2c257"]]},{"id":"66f8115e09b13eda","type":"function","z":"7b4c1e23d99890c8","name":"","func":"msg.errormsg = msg.payload ;\nmsg.payload = \"no item in these stock\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":80,"wires":[["7345f41a1a0f8992","4b13c0cfbcf2c257"]]},{"id":"109904b72ef20ca5","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Stock Entry List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry/\" + msg.openoption\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":940,"wires":[["add27cc5bf9c3dd7"]]},{"id":"add27cc5bf9c3dd7","type":"http request","z":"7b4c1e23d99890c8","name":"GET Stock entry list","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":850,"y":980,"wires":[["182c3434def7c8f1"]]},{"id":"a1d5b40e5b934b10","type":"function","z":"7b4c1e23d99890c8","name":"++i","func":"if ( (msg.i += 1) < msg.items1.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":980,"wires":[["4f6cc055f140df53"]]},{"id":"4f6cc055f140df53","type":"function","z":"7b4c1e23d99890c8","name":"for each item","func":"if( msg.i == undefined ) msg.i = 0;\n\nif ( msg.items1 == undefined ) msg.items1 = msg.payload.data.items;\n\n//if(msg.payload.data.items.length == 0 ) msg.payload.data.items = [\"no items here\"];\n\nmsg.payload = msg.items1[ msg.i ].item_code;\nmsg.list[msg.i] = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":940,"wires":[["a1d5b40e5b934b10","e295c02cfd1f34b3"]]},{"id":"182c3434def7c8f1","type":"function","z":"7b4c1e23d99890c8","name":"initilalise","func":"msg.list = [];\nif (msg.payload.data.items.length == 0) {msg.items1 = [\"no items\"]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1020,"wires":[["4f6cc055f140df53"]]},{"id":"e295c02cfd1f34b3","type":"function","z":"7b4c1e23d99890c8","name":"consolidate list","func":"if ( msg.i == msg.items1.length - 1 ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":940,"wires":[["f4aa6215dc073b13"]]},{"id":"b2bd4cf69f62550b","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"naightmear","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":320,"y":900,"wires":[["23b8d63dc2909716"]]},{"id":"1804892467d028bf","type":"function","z":"7b4c1e23d99890c8","name":"array maker","func":"msg.openoption = flow.get(\"openoption\");\n\nvar tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\ntags = msg.compare.replace(/[\\[\\]']+/g,'');\n\nmsg.compare = tags.split(\", \");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":940,"wires":[["0c110c72526f85e8"]]},{"id":"0ee1061a6da65d74","type":"change","z":"7b4c1e23d99890c8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"right","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":900,"wires":[["109904b72ef20ca5"]]},{"id":"f4aa6215dc073b13","type":"differences","z":"7b4c1e23d99890c8","name":"","leftInput":"right","leftInputType":"msg","rightInput":"list","rightInputType":"msg","func":"-","outputType":"msg","output":"diff1","x":1430,"y":980,"wires":[["14ac506cb4985147"]]},{"id":"14ac506cb4985147","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Stock Entry List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry/\" + flow.get(\"openoption\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1020,"wires":[["8fdc9108b23b5b55"]]},{"id":"8fdc9108b23b5b55","type":"http request","z":"7b4c1e23d99890c8","name":"GET Stock entry list","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1230,"y":1060,"wires":[["fe1470bbf453e456"]]},{"id":"fe1470bbf453e456","type":"function","z":"7b4c1e23d99890c8","name":"initilaise","func":"msg.stocklist = msg.payload.data.items;\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1060,"wires":[["0ad66904a4475855"]]},{"id":"6c50ce940dbd0df9","type":"function","z":"7b4c1e23d99890c8","name":"++m","func":"if ( (msg.m += 1) < msg.diff1.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1280,"wires":[["e2e5f29278f1aa71"]]},{"id":"e2e5f29278f1aa71","type":"function","z":"7b4c1e23d99890c8","name":"for each item","func":"\n\nif (msg.m == undefined ) msg.m = 0;\nmsg.payload = msg.diff1[ msg.m ];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1160,"wires":[["5e3e5136bba53397"]]},{"id":"435070d06d61adf5","type":"function","z":"7b4c1e23d99890c8","name":"Compiling entries","func":"msg.getlength = msg.stocklist.length;\nmsg.stocklist[ msg.getlength ] = msg.itementry;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1280,"wires":[["6c50ce940dbd0df9","bc92c60929e3678c"]]},{"id":"161db3f8daa32bf7","type":"function","z":"7b4c1e23d99890c8","name":"Create individual entries","func":"msg.itementry = \n {\n \"idx\": 1,\n \"item_code\": msg.payload,\n \"item_group\": \"Products\",\n \"item_name\": \"Tags\",\n \"s_warehouse\": \"Finished Goods - SHRDC\",\n \"t_warehouse\": \"Stores - SHRDC\",\n \"qty\": 1,\n \"transfer_qty\": 1,\n  \"uom\": \"Unit\",\n \"conversion_factor\": 1,\n \"stock_uom\": \"Unit\",\n \"doctype\": \"Stock Entry Detail\"\n \n }\n\nreturn msg;\n\n//added uom = \"unit\" and stock uom:\"Unit\" for put function\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1240,"wires":[["435070d06d61adf5"]]},{"id":"c5d553a756a4090a","type":"function","z":"7b4c1e23d99890c8","name":"else","func":"msg.payload = \"CHANGES MADE\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1240,"wires":[["baffb12cfb4aa7c1"]]},{"id":"4a3638517161b57e","type":"function","z":"7b4c1e23d99890c8","name":"Put Stock Entry List with API Access","func":"msg.method = \"PUT\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock Entry/\" + flow.get(\"openoption\");\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":1160,"wires":[["3a36a6fec8d2f5e2"]]},{"id":"3a36a6fec8d2f5e2","type":"http request","z":"7b4c1e23d99890c8","name":"PUT Data","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1080,"y":1200,"wires":[["c5d553a756a4090a"]]},{"id":"15806e818a2b1487","type":"function","z":"7b4c1e23d99890c8","name":"Edit Item Data","func":"msg.payload = \n{\n\n \"items\": msg.stocklist,\n\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1200,"wires":[["4a3638517161b57e"]]},{"id":"bc92c60929e3678c","type":"function","z":"7b4c1e23d99890c8","name":"Consolidating list","func":"if ( msg.m == msg.diff1.length - 1 ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1160,"wires":[["15806e818a2b1487"]]},{"id":"2ae0cee6695be491","type":"comment","z":"7b4c1e23d99890c8","name":"UPDATE(ADD - difference) STOCK - CHECK IN","info":"","x":720,"y":860,"wires":[]},{"id":"a9d20778ca0b4ceb","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Stock Entry List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry/\" + msg.openoption\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2110,"y":900,"wires":[["ca0980488f59b563"]]},{"id":"ca0980488f59b563","type":"http request","z":"7b4c1e23d99890c8","name":"GET Stock entry list","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":2050,"y":940,"wires":[["0ef4eab4255f6791"]]},{"id":"b80844e2a4cd79b9","type":"function","z":"7b4c1e23d99890c8","name":"openoption","func":"msg.openoption = flow.get(\"openoption\");\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":980,"wires":[["97f786b3f28d02d2"]]},{"id":"97f786b3f28d02d2","type":"change","z":"7b4c1e23d99890c8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"right","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1810,"y":1020,"wires":[["a9d20778ca0b4ceb"]]},{"id":"2ee4e0bb8142340c","type":"function","z":"7b4c1e23d99890c8","name":"array maker","func":"msg.payload = msg.payload;\n\nvar tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":940,"wires":[["b80844e2a4cd79b9"]]},{"id":"c619db2a86caae78","type":"function","z":"7b4c1e23d99890c8","name":"++k","func":"if ( (msg.k += 1) < msg.right.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2010,"y":1020,"wires":[["0ef4eab4255f6791"]]},{"id":"0ef4eab4255f6791","type":"function","z":"7b4c1e23d99890c8","name":"compare and remove","func":"\nif( msg.k == undefined ) msg.k = 0;\nif( msg.items1 == undefined) msg.items1 = msg.payload.data.items;\nif (msg.ohno == undefined) msg.ohno = [];\nif (msg.success == undefined) msg.success = [];\nif (msg.g == undefined) msg.g = 0;\nif (msg.h == undefined) msg.h = 0;\n\nmsg.tosearch = msg.right [msg.k];\n\n\nobj = msg.items1.find((o, i) => {\n    if (o.item_code === msg.tosearch) {\n       msg.items1.splice(i, 1);\n       msg.success[msg.h] = msg.tosearch;\n       msg.h += 1;\n        return true; // stop searching\n    }\n});\n//search and delete same entries\n\n\nif (obj == undefined) {msg.ohno[msg.g] = msg.tosearch;\n    msg.g += 1}\nmsg.hi = msg.items1;\n// if entry is not deleted put in array\n\n\nreturn msg\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":980,"wires":[["880e3e5ecffd4a81","c619db2a86caae78"]]},{"id":"880e3e5ecffd4a81","type":"function","z":"7b4c1e23d99890c8","name":"Consolidating list","func":"if ( msg.k == msg.right.length - 1 ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":900,"wires":[["288012da4f5717cc"]]},{"id":"fe9d36f0292e06d0","type":"function","z":"7b4c1e23d99890c8","name":"Put Stock Entry List with API Access","func":"msg.method = \"PUT\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock Entry/\" + flow.get(\"openoption\");\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2470,"y":980,"wires":[["94cdbc3aacb0349c"]]},{"id":"94cdbc3aacb0349c","type":"http request","z":"7b4c1e23d99890c8","name":"PUT Data","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":2380,"y":1020,"wires":[["a359939899113462"]]},{"id":"288012da4f5717cc","type":"function","z":"7b4c1e23d99890c8","name":"Edit Item Data","func":"msg.payload = \n{\n\n \"items\": msg.hi,\n\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":940,"wires":[["fe9d36f0292e06d0"]]},{"id":"a359939899113462","type":"switch","z":"7b4c1e23d99890c8","name":"all check out","property":"ohno","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1790,"y":1080,"wires":[["a390a183858ab90d"],["a390a183858ab90d"]]},{"id":"f3546ddcf8ee093c","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"actionfinished","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":2260,"y":1080,"wires":[]},{"id":"a390a183858ab90d","type":"function","z":"7b4c1e23d99890c8","name":"hecked out","func":"msg.payload = \"all checked out\";\nif (msg.success.length == 0) {\n    msg.payload = \"Nothing checked out\"\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":1080,"wires":[["f3546ddcf8ee093c"]]},{"id":"469e455cfed0cc7e","type":"comment","z":"7b4c1e23d99890c8","name":"CHECK OUT","info":"made the name of the tiem to be \nitem_code-parent","x":2030,"y":860,"wires":[]},{"id":"337925e41fc43864","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"update","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1650,"y":900,"wires":[["fb8c555bb943e331"]]},{"id":"8ddbbc749a7d7e27","type":"function","z":"7b4c1e23d99890c8","name":"Initializing vars","func":"msg.stocklist = [];\n\n\n\nif( msg.i == undefined ) msg.i = 0;\nif( msg.items == undefined ) msg.items = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":180,"wires":[["492a0e52aae77fc1"]]},{"id":"17a1fe49edf563e2","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"page3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":2590,"y":460,"wires":[]},{"id":"1b8d9e0e9174792c","type":"function","z":"7b4c1e23d99890c8","name":"array maker","func":"msg.payload = msg.payload;\n\nvar tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":140,"wires":[["8ddbbc749a7d7e27"]]},{"id":"f839de286d59c7bc","type":"comment","z":"7b4c1e23d99890c8","name":"when -[stock] (compare)","info":"chcecks if there is duplicate or missing items\nscanned items against the stock items\ndepending on switch mode\nreturn after adding \"split duplicate or not in stock\"\nto the end\n","x":2320,"y":340,"wires":[]},{"id":"39f30490e3363c09","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Stock Entry List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry/\" + msg.openoption\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2610,"y":260,"wires":[["c7d0829119a37bcf"]]},{"id":"76c2893941fc7e81","type":"differences","z":"7b4c1e23d99890c8","name":"","leftInput":"list","leftInputType":"msg","rightInput":"items","rightInputType":"msg","func":"⋂","outputType":"msg","output":"intersection","x":2060,"y":380,"wires":[["4b209f96312ca6d2"]]},{"id":"4b209f96312ca6d2","type":"differences","z":"7b4c1e23d99890c8","name":"","leftInput":"items","leftInputType":"msg","rightInput":"list","rightInputType":"msg","func":"-","outputType":"msg","output":"diff1","x":2060,"y":420,"wires":[["b3c5ce7d6163a514"]]},{"id":"a581d9850be34cd5","type":"function","z":"7b4c1e23d99890c8","name":"combine array  (dup)","func":"msg.return = [];\nmsg.return = msg.intersection;\nmsg.poof = msg.intersection.length;\n\nfor (i = 0; i < msg.diff1.length; i++) {\n  msg.return[msg.poof+i] = msg.diff1[i];\n}\n\nmsg.payload = msg.return;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":420,"wires":[["53667369741f8483"]]},{"id":"6f04c708773b425a","type":"function","z":"7b4c1e23d99890c8","name":"for each item -duplciate","func":"\n\n\nfor (i = 0; i < msg.intersection.length; i++) {\n msg.intersection[i] = msg.intersection[i] + \"split already in stock\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2390,"y":380,"wires":[["a581d9850be34cd5","b83716fb3a7535d0"]]},{"id":"54a923875a6ddb25","type":"function","z":"7b4c1e23d99890c8","name":"++k","func":"if ( (msg.k += 1) < msg.items1.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":420,"wires":[["70f613a9b05b396c"]]},{"id":"70f613a9b05b396c","type":"function","z":"7b4c1e23d99890c8","name":"for each item","func":"if( msg.k == undefined ) msg.k = 0;\n\nif ( msg.items1 == undefined ) msg.items1 = msg.payload.data.items;\n//if(msg.payload.data.items.length == 0 ) msg.payload.data.items = [\"no items here\"];\n\n\nmsg.payload = msg.items1[ msg.k ].item_code;\nmsg.list[msg.k] = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":380,"wires":[["54a923875a6ddb25","39afeefb9a6c3d9c"]]},{"id":"e161e261baf9d421","type":"function","z":"7b4c1e23d99890c8","name":"initialiser","func":"msg.list = [];\nmsg.stocklist = msg.payload.data.items;\n\nif (msg.payload.data.items.length == 0) {msg.items1 = [\"no items\"]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":340,"wires":[["70f613a9b05b396c"]]},{"id":"39afeefb9a6c3d9c","type":"function","z":"7b4c1e23d99890c8","name":"consolidate list","func":"if ( msg.k == msg.items1.length - 1 ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":340,"wires":[["76c2893941fc7e81"]]},{"id":"c7d0829119a37bcf","type":"http request","z":"7b4c1e23d99890c8","name":"GET Stock entry list","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":2550,"y":300,"wires":[["963feb4e7feef0d5"]]},{"id":"23b8d63dc2909716","type":"function","z":"7b4c1e23d99890c8","name":"replace","func":"\n\nmsg.compare = msg.payload.replace(/split already in stock/g,\"\");\n\nmsg.compare = msg.compare.replace(/split not in stock/g,\"\");\n\nmsg.compare = msg.compare.replace(/split not an item/g,\"\");\n\n//msg.payload = msg.payload.replace(/R, /,\"\");\n\n//msg.payload = msg.payload.replace(/, R/g,\"\");\n\n\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":900,"wires":[["1804892467d028bf"]]},{"id":"fb8c555bb943e331","type":"function","z":"7b4c1e23d99890c8","name":"replace","func":"\n\n\nmsg.payload = msg.payload.replace(/split already in stock/g,\"\");\n\nmsg.payload = msg.payload.replace(/split not in stock/g,\"\");\n\nmsg.payload = msg.payload.replace(/split not an item/g,\"\");\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":900,"wires":[["2ee4e0bb8142340c"]]},{"id":"963feb4e7feef0d5","type":"switch","z":"7b4c1e23d99890c8","name":"if stock is empty","property":"payload.data.items","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2740,"y":300,"wires":[["acc31f2891120ce2"],["e161e261baf9d421"]]},{"id":"acc31f2891120ce2","type":"function","z":"7b4c1e23d99890c8","name":"return items","func":"msg.payload = msg.items;\n\nif (msg.forswtich == \"checkinmissing\") \n{\n    for (k = 0; k < msg.items.length; k++) {\n        msg.payload[k] = msg.payload[k] + \"split not in stock\";\n    }\n}\n\nif (msg.payload.length == 0 ) {\n    msg.payload = \"no items is scanned\";\n}\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2950,"y":280,"wires":[["231aee158884912c","ed5c076e58d5354a"]]},{"id":"f2e9dc50e7218628","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"page3next","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":2750,"y":460,"wires":[]},{"id":"fafbb48de9f57de7","type":"comment","z":"7b4c1e23d99890c8","name":"description","info":"\n\nget list from stock \nand scanned item\ncompare\nreturn","x":2040,"y":300,"wires":[]},{"id":"b83716fb3a7535d0","type":"function","z":"7b4c1e23d99890c8","name":"move list","func":"msg.payload = msg.list;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":380,"wires":[["f2e9dc50e7218628"]]},{"id":"e3823df4b47db817","type":"function","z":"7b4c1e23d99890c8","name":"for each item - notin stock","func":"\n\n\nfor (i = 0; i < msg.diff1.length; i++) {\n msg.diff1[i] = msg.diff1[i] + \"split not in stock\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2390,"y":540,"wires":[["049aa2fff4109db3","a8ba4dfb8a9dd461"]]},{"id":"049aa2fff4109db3","type":"function","z":"7b4c1e23d99890c8","name":"combine array (mis )","func":"msg.return = [];\nmsg.return = msg.diff1;\nmsg.poof = msg.diff1.length;\n\nfor (i = 0; i < msg.intersection.length; i++) {\n  msg.return[msg.poof+i] = msg.intersection[i];\n}\n\n\nmsg.payload = msg.return;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":500,"wires":[["53667369741f8483"]]},{"id":"a8ba4dfb8a9dd461","type":"function","z":"7b4c1e23d99890c8","name":"move list","func":"msg.payload = msg.list;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":540,"wires":[["f2e9dc50e7218628"]]},{"id":"450af5fd1b488d8b","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"checkinmissing","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1780,"y":120,"wires":[["1480c2708e84ce52"]]},{"id":"f06eccf67815453f","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"openoption","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1800,"y":200,"wires":[["f0fbf98689996dcb","72be8ccc29a09565"]]},{"id":"b24ee96d495bcdbc","type":"join","z":"7b4c1e23d99890c8","name":"2 in - 1 out","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2110,"y":160,"wires":[["3922b7c114adb97f"]]},{"id":"f0fbf98689996dcb","type":"function","z":"7b4c1e23d99890c8","name":"0","func":"msg.key = [0];\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":180,"wires":[["b24ee96d495bcdbc"]]},{"id":"1480c2708e84ce52","type":"function","z":"7b4c1e23d99890c8","name":"1","func":"msg.key = [1];\nmsg.forswtich = msg.topic;\n\nmsg.payload = msg.payload.replace(/split already in stock/g,\"\");\n\nmsg.payload = msg.payload.replace(/split not in stock/g,\"\");\n\nmsg.payload = msg.payload.replace(/split not an item/g,\"\");\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1950,"y":140,"wires":[["b24ee96d495bcdbc","271819b30e7faae2"]]},{"id":"3922b7c114adb97f","type":"function","z":"7b4c1e23d99890c8","name":"openoption","func":"msg.openoption = msg.payload[0];\nmsg.payload = msg.payload[1];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":100,"wires":[["1b8d9e0e9174792c"]]},{"id":"2e97f42ed3ba4783","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"checkinduplicate","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1780,"y":160,"wires":[["1480c2708e84ce52"]]},{"id":"b3c5ce7d6163a514","type":"switch","z":"7b4c1e23d99890c8","name":"switch dup or miss","property":"forswtich","propertyType":"msg","rules":[{"t":"eq","v":"checkinduplicate","vt":"str"},{"t":"eq","v":"checkinmissing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2050,"y":460,"wires":[["6f04c708773b425a"],["e3823df4b47db817"]]},{"id":"1000c6e44ba2e2f6","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"page3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":3370,"y":280,"wires":[]},{"id":"b182a863de77382f","type":"comment","z":"7b4c1e23d99890c8","name":"LIST after compared","info":"compared against item in actual stock","x":2230,"y":60,"wires":[]},{"id":"72be8ccc29a09565","type":"change","z":"7b4c1e23d99890c8","name":"openoption(f)","rules":[{"t":"move","p":"payload","pt":"msg","to":"openoption","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1970,"y":220,"wires":[[]]},{"id":"baffb12cfb4aa7c1","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"actionfinished","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":1240,"y":1240,"wires":[]},{"id":"271819b30e7faae2","type":"debug","z":"7b4c1e23d99890c8","name":"Print All Details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1980,"y":100,"wires":[]},{"id":"f6560d5989db4277","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"page3next","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":3130,"y":320,"wires":[]},{"id":"231aee158884912c","type":"function","z":"7b4c1e23d99890c8","name":"no item in stock","func":"msg.payload = \"stock is empty\";\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2960,"y":320,"wires":[["f6560d5989db4277"]]},{"id":"3873a5aeea61f020","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Stock Entry List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n \"Authorization\": \"token \"\n  +global.get('erpnext_api_key')+\n  \":\"+global.get('erpnext_api_secret'),\n \"Accept\": \"application/json\",\n \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Stock%20Entry/\" + msg.openoption\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":580,"wires":[["b99efcb440bee05d"]]},{"id":"b99efcb440bee05d","type":"http request","z":"7b4c1e23d99890c8","name":"GET Stock entry list","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":910,"y":620,"wires":[["057e7653313f45f6"]]},{"id":"0bbd95391f25ee54","type":"function","z":"7b4c1e23d99890c8","name":"array maker","func":"\n\nvar tags = msg.payload.replace(/[\\[\\]']+/g,'');\n\nmsg.payload = tags.split(\", \");\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":620,"wires":[["e5a4b12b9915e35e"]]},{"id":"e5a4b12b9915e35e","type":"change","z":"7b4c1e23d99890c8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"right","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":540,"wires":[["3873a5aeea61f020"]]},{"id":"cfa87812fa7a0add","type":"comment","z":"7b4c1e23d99890c8","name":"STOCK CHECK (SINGLE)","info":"TO USE STOCK CHECK SINGLE, \nUNABLE TO READ PROPERTIES OF UNDEFINED ITEMS\nTHEREFORE GO TO THE DROP DOWN LIST AND SELECT A STOCK ENTRY\n","x":910,"y":480,"wires":[]},{"id":"2394dc501c976301","type":"tableify","z":"7b4c1e23d99890c8","name":"","before":"Missing items","after":"","tableStyle":"","theadStyle":"","tbodyStyle":"","trStyle":"","tdStyle":"","x":1080,"y":760,"wires":[["92f006f1fff4fc40"]]},{"id":"47e3b351145dd397","type":"change","z":"7b4c1e23d99890c8","name":"","rules":[{"t":"move","p":"ohno","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":760,"wires":[["2394dc501c976301"]]},{"id":"92f006f1fff4fc40","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"page3_2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":1440,"y":760,"wires":[]},{"id":"d4dda9c325a6b804","type":"switch","z":"7b4c1e23d99890c8","name":"if no diff","property":"msg.ohno.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":720,"wires":[["b80fcb92300b800d"],["47e3b351145dd397"]]},{"id":"d8a495fd23077ac9","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"openoption_check","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":520,"wires":[["18a14bb48536ea12"]]},{"id":"18a14bb48536ea12","type":"function","z":"7b4c1e23d99890c8","name":"0","func":"msg.key = [0];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":520,"wires":[["07e4170acff3b5ef"]]},{"id":"e328072b75742142","type":"function","z":"7b4c1e23d99890c8","name":"1","func":"msg.key = [1];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":560,"wires":[["07e4170acff3b5ef"]]},{"id":"c8fc226f7d2f0056","type":"function","z":"7b4c1e23d99890c8","name":"openoption","func":"msg.openoption = msg.payload[0];\nmsg.payload = msg.payload[1];\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":580,"wires":[["0bbd95391f25ee54"]]},{"id":"2e6eca0ea78ab59e","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"check","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":560,"wires":[["e328072b75742142"]]},{"id":"07e4170acff3b5ef","type":"join","z":"7b4c1e23d99890c8","name":"2 in - 1 out","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":670,"y":540,"wires":[["c8fc226f7d2f0056"]]},{"id":"ef1556b044e317ed","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"first_page","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":1580,"y":320,"wires":[]},{"id":"2f735c09cf9f397a","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Item List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Item?limit_page_length=(1000)&fields=[%22name%22,%22item_name%22]\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":320,"wires":[["9e15345a3d9817e8"]]},{"id":"9e15345a3d9817e8","type":"http request","z":"7b4c1e23d99890c8","name":"GET Item List","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1220,"y":360,"wires":[["6802fcbe8d1aa223"]]},{"id":"6802fcbe8d1aa223","type":"function","z":"7b4c1e23d99890c8","name":"function","func":"msg.payload = msg.payload.data;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":280,"wires":[["3d54597f215cdb0d"]]},{"id":"6fd69fdf6f007874","type":"mqtt in","z":"7b4c1e23d99890c8","name":"","topic":"itemlist","qos":"2","datatype":"auto","broker":"632bce69c9603f76","nl":false,"rap":true,"rh":0,"inputs":0,"x":1250,"y":280,"wires":[["2f735c09cf9f397a"]]},{"id":"3d54597f215cdb0d","type":"function","z":"7b4c1e23d99890c8","name":"reformat","func":"msg.returned = [];\n\nfor (i = 0; i < msg.payload.length; i++) {\n    objk = msg.payload[i]\n msg.returned[i] = objk.name + \",\" +objk.item_name;\n}\n\nmsg.payload = msg.returned;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":320,"wires":[["ef1556b044e317ed"]]},{"id":"0f1725f634cf1be8","type":"comment","z":"7b4c1e23d99890c8","name":"GET ITEM LIST","info":"","x":1320,"y":240,"wires":[]},{"id":"7ca445a36085a11b","type":"comment","z":"7b4c1e23d99890c8","name":"attach","info":"\nif it duplicate or missing\nattack the term duplicate to its end\n","x":2550,"y":340,"wires":[]},{"id":"ac8ec51d2f5e389f","type":"comment","z":"7b4c1e23d99890c8","name":"openoption is stock selected","info":"","x":420,"y":480,"wires":[]},{"id":"d4cc7f7ff24b7b49","type":"comment","z":"7b4c1e23d99890c8","name":"shown on final page","info":"","x":2459.4000244140625,"y":60.399993896484375,"wires":[]},{"id":"53c34b7bf83569f9","type":"comment","z":"7b4c1e23d99890c8","name":"description","info":"fetch latest list , \ncompare and remove identical entry,","x":2200,"y":860,"wires":[]},{"id":"2578cfddfb101a43","type":"catch","z":"7b4c1e23d99890c8","name":"","scope":null,"uncaught":false,"x":800,"y":80,"wires":[["fc2eee5bfb2ab894"]]},{"id":"0ad66904a4475855","type":"switch","z":"7b4c1e23d99890c8","name":"if no different items","property":"diff1","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1120,"wires":[["bd977d5b7b958e02"],["e2e5f29278f1aa71"]]},{"id":"bd977d5b7b958e02","type":"function","z":"7b4c1e23d99890c8","name":"if no item needed to be check in","func":"msg.payload = \"no items checked in\"\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1120,"wires":[["69f775cd8abf3406"]]},{"id":"69f775cd8abf3406","type":"mqtt out","z":"7b4c1e23d99890c8","name":"","topic":"actionfinished","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"632bce69c9603f76","x":1100,"y":1120,"wires":[]},{"id":"b80fcb92300b800d","type":"function","z":"7b4c1e23d99890c8","name":"no missing item","func":"\nmsg.payload = \"no missing items\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":720,"wires":[["92f006f1fff4fc40"]]},{"id":"492a0e52aae77fc1","type":"function","z":"7b4c1e23d99890c8","name":"Fetch Item List with API Access","func":"msg.method = \"GET\";\n\nmsg.headers = {\n    \"Authorization\": \"token \"+global.get('erpnext_api_key')+\":\"+global.get('erpnext_api_secret'),\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\"\n}\n\nmsg.url = \"http://localhost:8000/api/resource/Item?limit_page_length=(1000)\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2590,"y":100,"wires":[["16ddb1e593d933f4"]]},{"id":"16ddb1e593d933f4","type":"http request","z":"7b4c1e23d99890c8","name":"GET Item List","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":2540,"y":140,"wires":[["8e0fb074f7a2d34f"]]},{"id":"8e0fb074f7a2d34f","type":"function","z":"7b4c1e23d99890c8","name":"return array","func":"msg.payload = msg.payload.data;\n\nmsg.array = [];\n\n    for (k = 0; k < msg.payload.length; k++) {\n        msg.array[k] = msg.payload[k].name;\n    }\n\n\n\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":140,"wires":[["3b488839b36e9905"]]},{"id":"7bfe29265fb20cbb","type":"differences","z":"7b4c1e23d99890c8","name":"","leftInput":"items","leftInputType":"msg","rightInput":"array","rightInputType":"msg","func":"-","outputType":"msg","output":"noitem","x":2560,"y":220,"wires":[["0e99adaa0d75309f"]]},{"id":"3b488839b36e9905","type":"differences","z":"7b4c1e23d99890c8","name":"","leftInput":"items","leftInputType":"msg","rightInput":"array","rightInputType":"msg","func":"⋂","outputType":"msg","output":"isitem","x":2570,"y":180,"wires":[["7bfe29265fb20cbb"]]},{"id":"0e99adaa0d75309f","type":"function","z":"7b4c1e23d99890c8","name":"move items","func":"msg.items = msg.isitem;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2750,"y":220,"wires":[["39f30490e3363c09"]]},{"id":"0c110c72526f85e8","type":"differences","z":"7b4c1e23d99890c8","name":"","leftInput":"payload","leftInputType":"msg","rightInput":"compare","rightInputType":"msg","func":"⋂","outputType":"msg","output":"payload","x":580,"y":980,"wires":[["0ee1061a6da65d74"]]},{"id":"ed5c076e58d5354a","type":"function","z":"7b4c1e23d99890c8","name":"combine array  (not an item)","func":"for (i = 0; i < msg.noitem.length; i++) {\n    msg.noitem[i] = msg.noitem[i] + \"split not an item\"\n}\n\nfor (i = 0; i < msg.isitem.length; i++) {\n    msg.noitem[msg.noitem.length] = msg.isitem[i];\n}\n\nmsg.payload = msg.noitem;\nif (msg.payload.length == 0 ) {\n    msg.payload = \"no items is scanned\";\n} \nif (msg.payload[0] == \"NO ITEMS IS SCANNEDsplit not an item\") {\n    msg.payload = \" NO ITEMS IS SCANNED\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3180,"y":280,"wires":[["1000c6e44ba2e2f6"]]},{"id":"53667369741f8483","type":"function","z":"7b4c1e23d99890c8","name":"combine array  (not an item)","func":"for (i = 0; i < msg.noitem.length; i++) {\n    msg.noitem[i] = msg.noitem[i] + \"split not an item\"\n}\n\nfor (i = 0; i < msg.payload.length; i++) {\n    msg.noitem[msg.noitem.length] = msg.payload[i];\n}\n\nmsg.payload = msg.noitem;\nif (msg.payload.length == 0 ) {\n    msg.payload = \"no items is scanned\";\n}\n\nif (msg.payload[0] == \"NO ITEMS IS SCANNEDsplit not an item\") {\n    msg.payload = \" NO ITEMS IS SCANNED\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":460,"wires":[["17a1fe49edf563e2"]]},{"id":"2ec08b273359cdce","type":"function","z":"7b4c1e23d99890c8","name":"++k","func":"if ( (msg.k += 1) < msg.items1.length ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":720,"wires":[["e672cc697125b474"]]},{"id":"e672cc697125b474","type":"function","z":"7b4c1e23d99890c8","name":"compare/find","func":"if( msg.k == undefined ) msg.k = 0;\nif( msg.items1 == undefined) msg.items1 = msg.payload.data.items;\nif (msg.ohno == undefined) msg.ohno = [];\nif (msg.success == undefined) msg.success = [];\nif (msg.g == undefined) msg.g = 0;\nif (msg.h == undefined) msg.h = 0;\n\nmsg.tosearch = msg.items1[msg.k].item_code;\n\nobj = msg.right.find((o, i) => {\n    if (o === msg.tosearch) {\n       msg.success[msg.h] = msg.tosearch;\n       msg.h += 1;\n        return true; // stop searching\n    }\n});\n//search and delete same entries\n\n\nif (obj == undefined) {msg.ohno[msg.g] =msg.items1[msg.k].description;\n    msg.g += 1}\n    \nmsg.hi = msg.items1;\n// if entry is not deleted put in array\n\n\nreturn msg\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":680,"wires":[["2ec08b273359cdce","23efdee12a3f3a98"]]},{"id":"057e7653313f45f6","type":"switch","z":"7b4c1e23d99890c8","name":"if no items","property":"msg.payload.data.items.length","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":620,"wires":[["752495c2447dfea4"],["e672cc697125b474"]]},{"id":"752495c2447dfea4","type":"function","z":"7b4c1e23d99890c8","name":"is empty","func":"\nmsg.payload = \"selected stock is empty\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":620,"wires":[["92f006f1fff4fc40"]]},{"id":"23efdee12a3f3a98","type":"function","z":"7b4c1e23d99890c8","name":"consolidate list","func":"if ( msg.k == msg.items1.length - 1 ) return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":680,"wires":[["d4dda9c325a6b804"]]},{"id":"82d8b330a57bc5cc","type":"inject","z":"7b4c1e23d99890c8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"<style type=\"text/css\">.tg  {border-collapse:collapse;border-spacing:0;}.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;  overflow:hidden;padding:10px 5px;word-break:normal;}.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}.tg .tg-pwrz{background-color:#FD6864;border-color:inherit;text-align:left;vertical-align:top}.tg .tg-wgp3{background-color:#FFC702;border-color:inherit;text-align:left;vertical-align:top}.tg .tg-cdps{background-color:#CB0000;border-color:inherit;text-align:left;vertical-align:top}.tg .tg-112g{background-color:#67FD9A;border-color:inherit;text-align:left;vertical-align:top}</style><table class=\"tg\"><thead>  <tr>    <th class=\"tg-pwrz\">TITLE</th>  </tr></thead><tbody>  <tr>    <td class=\"tg-pwrz\">1</td>  </tr>  <tr>    <td class=\"tg-cdps\">2</td>  </tr>  <tr>    <td class=\"tg-wgp3\">3</td>  </tr>  <tr>    <td class=\"tg-112g\">4</td>  </tr></tbody></table>","payloadType":"str","x":1430,"y":720,"wires":[["92f006f1fff4fc40"]]},{"id":"5e3e5136bba53397","type":"switch","z":"7b4c1e23d99890c8","name":"if not Item - skip","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"not an item ","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":1200,"wires":[["6c50ce940dbd0df9"],["161db3f8daa32bf7"]]},{"id":"04cb6a0d0449bf5b","type":"comment","z":"7b4c1e23d99890c8","name":"if not item ","info":"may not be needed , just in case","x":380,"y":1200,"wires":[]},{"id":"632bce69c9603f76","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]